.LobbyItem {
  margin: 10px;
  background-color: rgba(201, 201, 201, 0.2);
  overflow: scroll;
  border-radius: 5px;
}

.LobbyItem .content {
  padding-left: 10px;
  padding-right: 10px;
  overflow: wrap;
}

.LobbyItemWrapper a,
.LobbyItemWrapper a:hover {
  text-decoration: none;
  color: black;
}

.LobbyItemWrapper:hover {
  background-color: rgba(137, 194, 255, 0.2) !important;
  border-radius: 5px;
}
.VideoThumbnail {
  position: absolute;
  bottom: 0;
  border-radius: 5px;
}
