.LobbyItem {
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}

.LobbyItem .content {
  padding-left: 10px;
  padding-right: 10px;
}

.LobbyItemWrapper a,
.LobbyItemWrapper a:hover {
  /* text-align: center; */
  text-decoration: none;
  color: black;
}

.LobbyItemWrapper:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.VideoThumbnail {
  position: absolute;
  bottom: 0;
}
